* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body {
    background:#C12A2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
a {
    text-decoration: none;
    cursor: pointer; 
}

h1 {
   font-family:"Caveat", cursive; 
   color: white;
}

select {
    min-width: 250px; 
    height: 30px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 10px;
    color: #6a6a6a;
}

#submitBtn, #compareConfirmBtn{
    color: #C12A2E;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 2rem 0; 
    cursor: pointer; 
}


/* ----- pokemon_Info ----- */

.pokemon_Info{
    background: white;
    width: 100%;
    /* min-width: 375px; */
    height: auto;
    min-height: 70vh;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    position: relative;
    margin-top: 13rem;
}

.pokemonImg {
    position: absolute;
    top: -25%; /* 调整图像相对于父容器顶部的位置 */
    left: 50%; /* 将图像水平居中 */
    transform: translateX(-50%); /* 将图像左移其自身宽度的一半，以实现水平居中 */
}

h2 {
    text-align: center;
    margin-top: 30%;
    margin-bottom: 20px;
}

.type{
    display: flex;
    gap: 20px;
}

div.type > p{
    font-size: 0.8rem;
    padding: 5px 8px;
    border-radius: 99px;
    color: white;
    margin-bottom: 20px;
}

.basic_info{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3{
    margin: 50px 0 20px 0;
}
.base_stats{
    margin-bottom: 2rem;
}
.stats_wrapper {
    display: flex;
    justify-content: right;
    gap: 15px;
}
.statsValue {
    width: 20px;
}
progress {
    width: 200px;
    height: 10px;
    border-radius: 4px;
    color: white;
}

progress::-webkit-progress-value {
    background-color: #e9d600; /* 修改进度条颜色 */
}


#compareBtn, #stridBtn ,#playAgainBtn{
    background: #C12A2E;
    color:white;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 8px;
    margin: 2rem 0; 
    cursor: pointer; 
}


/* ----- compare-overlay ----- */
.overlay-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* 充满整个视口 */
    background-color: rgba(0, 0, 0, 0.75); /* 半透明黑色背景 */
    z-index: 998; /* 比 overlay 层次低，确保其在其上方 */
  }
  
.overlay{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color:hwb(358 16% 24%);
    z-index: 999; 
    text-align: center;
}
.closeBtn {
    position: absolute;
    top: 10px; 
    right: 20px;
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    padding: 0; 
}

.closeBtn i {
    font-size: 20px; 
    color: #000;
}

#pokemonOne{
    margin-top: 50px;
}
div.overlay > p {
    color: white;
    font-weight: 800;
    margin: 10px 0;
}
/* ----- Desktop ----- */
@media (min-width: 1024px){  /* 屏幕宽度大于等于1024px*/
    .pokemon_Info{
       margin-bottom: 6rem;
       width: 50%;
    }
    h2 {
        margin-top: 18%;
    }
}



/* -----------------------------------------------------*/

/* ----- Style for compare.html ----- */
#compare, #battle {
    justify-content: left;
}

.compare-logo-wrapper{
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 30px 30px 180px 30px;
}
.background_boll {
    width: 130px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.2; 

}
#compare > div > a > p {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-family:"Caveat", cursive; 
    font-size: 1.2rem;
    margin-left: 5px;
}

.compare_main {
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 16px;
    text-align: center;
}
.pokemonInfo{
    position: relative;
}

#pokemonImg {
    height:150px;
    max-width: 150px;
    position: absolute;
    top: -70%; /* 调整图像相对于父容器顶部的位置 */
    left: 50%; /* 将图像水平居中 */
    transform: translateX(-50%); /* 将图像左移其自身宽度的一半，以实现水平居中 */
}
.vs{
    position: absolute;
    font-size: 1.5rem;
    font-style: italic;
    color: black;
    top: 25%;
    color: white;
}
.pokemon_wrapper {
    display: flex;
    justify-content: center;
    gap: 110px;
}

 .compare_pokemonName {
    margin-top: 70px;
 }

 .types {
    display: flex;
    justify-content: center;
    gap: 8px;
 }
 .types > p {
    width: fit-content;
    background: #78C850;
    color: white;
    padding: 0 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 99px;
 }
.compareTable {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}
 h3 {
    text-align: center;
 }

table {
    border-collapse: collapse;
    padding: 20% 0;
    background: #EEEEEE;
    font-size: 0.8rem;
}

table, th, td {
    width: fit-content;
    /* border: 1px solid black; */
    border-radius: 8px;
    padding: 5% 35px;
    letter-spacing: 0.8px;
}
.highlight {
    color:red;
    font-weight:bolder;
  }

/* 0% 表示动画的起始状态，100% 表示动画的结束状态 */
@keyframes rainbow {
/* 背景渐变色的位置在（X轴）的起点（0%），（Y轴）在中间（50%） */
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
div.message > span {
    font-size: large;
    font-weight: bolder;
    background: linear-gradient(90deg, red, orange, yellow, green, violet);
    background-size: 1500% 1500%;
    animation: rainbow 10s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ----- Desktop ----- */
@media (min-width: 1024px){  /* 屏幕宽度大于等于1024px*/
    .compare_main {
        width: 50%;
        margin-bottom: 10%;
    }
    #pokemonImg {
        height:180px;
        max-width: 280px;
    }

    .compare_pokemonName {
        margin-top: 80px;
     }
    .pokemon_wrapper {
        gap: 300px;
    }
    .vs{
        font-size: 2rem;
    }
}



/* -----------------------------------------------------*/

/* ----- Style for battle.html ----- */

.processTitle {
 margin-top: 120px;
}
.battle_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    min-height: 80vh;
    width: 100%;
    border-radius: 16px;
}
#winnerImg {
    position: absolute;
    top: 15%; /* 调整图像相对于父容器顶部的位置 */
    left: 50%; /* 将图像水平居中 */
    transform: translateX(-50%); /* 将图像左移其自身宽度的一半，以实现水平居中 */
}
#battle_log {
    text-align: center;
    background: #F1F1F1;
    width: 85%;
    height: 250px;
    padding: 20px 0;
    border-radius: 16px;
    overflow: auto;
}
#whoIsWinner {
    font-size: 2rem;
    font-weight: bold;
} 
/* ----- Desktop ----- */
@media (min-width: 1024px){  /* 屏幕宽度大于等于1024px*/
    .battle_main{
        width: 50%;
        margin-bottom: 10%;
    }
    #battle_log {
        height: 300px;
    }
}